@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -25%;
        left: -15px;
        width: 86px;
        height: 86px;
        border-radius: 100%;
        background:$main-color;
        margin-top: 5px;
        
    }
}